<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentperspective">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LessonTitle_Activity_77"
            android:label="@string/title_activity_lesson_title__77"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Classroom_Activity_76_13"
            android:label="@string/title_activity_classroom__76_13"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings_Activity_75_1"
            android:label="@string/title_activity_settings__75_1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ModelExam_Activity_75"
            android:label="@string/title_activity_model_exam__75"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestReport_Activity_71"
            android:label="@string/title_activity_test_report__71"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExamSubmit_Activity_70"
            android:label="@string/title_activity_exam_submit__70"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExerciseLibrary_Activity_67"
            android:label="@string/title_activity_exercise_library__67"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BioTeacher_Activity_66"
            android:label="@string/title_activity_bio_teacher__66"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScreenInvitation_Activity_64_23"
            android:label="@string/title_activity_screen_invitation__64_23"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InviteToShare_Activity_64_16"
            android:label="@string/title_activity_invite_to_share__64_16"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChatActivity_64_15"
            android:label="@string/title_activity_chat_64_15"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScreenSharing_Activity_64_14"
            android:label="@string/title_activity_screen_sharing__64_14"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScreenHolding_Activity_64_13"
            android:label="@string/title_activity_screen_holding__64_13"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChatRoom_Activity_64_2"
            android:label="@string/title_activity_chat_room__64_2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EdumeActivity_61"
            android:label="@string/title_activity_edume_61"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Fragment.MyTeacher_Activity_60"
            android:label="@string/title_activity_my_teacher__60"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ModelExamReportActivity_58"
            android:label="@string/title_activity_model_exam_report_58"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChapterTestReportActivity_57"
            android:label="@string/title_activity_chapter_test_report_57"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ModelExamReport_Activity_55"
            android:label="@string/title_activity_model_exam_report__55"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExerciseReport_Activity_54"
            android:label="@string/title_activity_exercise_report__54"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChapterTestReport_Activity_52"
            android:label="@string/title_activity_chapter_test_report__52"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Report_Activity"
            android:label="@string/title_activity_report_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>